.container {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  display: table;
}

.content {
  color: white;
  font-size: 22px;
  display: table-cell;
  vertical-align: middle;
}