.container {
  width: 150px;
  height: 50px;
  float: left;
}

.code {
  height: 43px;
  list-style: none;
}

.code>li {
  display: inline;
  padding: 3px 5px;
  background-color: black;
  border-radius: 5px;
  font-size: 18px;
  margin: 0 2px;
}

.line {
  background-color: #1db954;
  width: 145px;
  height: 1px;
  border: 0;
  display: block;
  margin: auto;
  float: left;
}

@media screen and (max-width: 768px) {
  .container {
    float: none;
  }

  .line {
    float: none;
    background-color: #1db954;
    width: 145px;
    height: 1px;
    border: 0;
    display: block;
    margin: auto;
  }

}